{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "transform-decorators-legacy"
      ]
    }
  }
}
